NUXT_SMTP_HOST=smtp.gmail.com
NUXT_SMTP_PORT=465
NUXT_SMTP_SECURE=true
NUXT_SMTP_USER=dmaximboi@gmail.com
NUXT_SMTP_PASS=
NUXT_SMTP_FROM=dmaximboi@gmail.com
NUXT_SMTP_TO=dmaximboi@gmail.com
NUXT_GMAIL=dmaximboi@gmail.com
NUXT_SITE_ORIGIN=http://127.0.0.1:3000
